<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all" name="SampleLanguageServer" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/sample-lsp.log"
                     filePattern="logs/sample-lsp-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>